<html>
    <body>
{include file="index/public/header" /}
<link rel="stylesheet" href="__CSS__/about.css">
<div class="top">
    <div class="title">{$list['title']}</div>
    <div class="content">{$list['content']}</div>
</div>
<div class="top">
    <div class="title">服务范围</div>
    <div class="content">{$list['server']}</div>
</div>
<div class="bottom">
    <div class="title">成功案例</div>
    <div class="content">{$list['example']}</div>
</div>
<div class="middle">
    <div class="title">合作企业</div>
    <div class="photo">
    <div class="introduce">{$list['company']}</div></div>
</div>
<div class="bottom">
    <div class="title">联系方式</div>
    <div class="content">{$list['contact']}</div>
</div>
</body>
</html>
