<html>
{include file="index/Public/header" /}
<body>
 <link rel="stylesheet" href="/static/css/personal.css">
	<div class="banner">
		<div class="banner_left">
			<img class="banner_pic">
		</div>
		<div class="banner_right">
			<div class="name">深圳市滴滴叭叭有限公司</div>
			<div class="bottom">
				<img src="/static/images/phone_1.png" class="phone"></img>
				<span class="number"> 15115113460</span>
			</div>
		</div>
	</div>
	<div class="middle">
		<a href="">
			<div class="content">
				<img  src="/static/images/order.png" class="tubiao"></img>
				<span class="font">我的订单</span>
				<img src="/static/images/arrow.png" class="info"></img>
			</div>
		</a>
		<a href="about">
			<div class="content">
				<img  src="/static/images/address.png" class="tubiao"></img>
				<span class="font">联系地址</span>
				<img src="/static/images/arrow.png" class="info"></img>
			</div>
		</a>
	</div>
	<div class="middle">
		<a href="">
			<div class="content">
				<img  src="/static/images/integral .png" class="tubiao"></img>
				<span class="font">我的积分</span>
				<img src="/static/images/arrow.png" class="info"></img>
			</div>
		</a>
		<a href="">
			<div class="content">
				<img  src="/static/images/download.png" class="tubiao"></img>
				<span class="font">APP下载</span>
				<img src="/static/images/arrow.png" class="info"></img>
			</div>
		</a>
	</div>
 </body>
 </html>