  <html>
 	<body> 
 <link rel="stylesheet" href="__CSS__/success.css">
	<div class="content">
		<div class="title">您已成功支付{$price}元定金</div>
		<div class="connection">请稍等，我们的工作人员将在一个工作日内尽快和您联系，您也可以直接联系我们确认</div>
	</div>
	<div>
		<div class="connection">QQ：3726721</div>
		<div class="connection">微信：畅久科技</div>
		<div class="connection">联系电话：18028700626</div>
	</div>
	<div style="padding-top:180px;text-align:center;">
		<a href="{:url('order')}">
			<div class="B_order">
				<span class="order">我的订单</span>
			</div>
		</a>
	</div>
	<div class="state"><a href="{:url('orderInfo')}"><span class="state">查看已提交订单的状态</span></a>
	</div>
	</body>
 </html>
