body{ font-family: "Microsoft YaHei" ! important;}
.index-notice{left:0;padding:5px 15px;color:#f90; background: #ffc;font-size:16px;}
.index_but{background-color:#f0eff5;margin-bottom: 21px;margin-top: 15px;text-align: center;min-height:126px;border-radius: 6px;width: 88%;margin: 14px auto;margin-left: auto;margin-right:auto;}
.img{margin-left: 16%;margin-top:26px;width: 30%;/* height: 20%; */float: left;text-align: center;}
.photo{width: 80px;height: 80px;height:auto;max-width:100%;max-height:100%;}
.content{width: 54%;float: right;margin-right: auto;text-align: center;margin-top: 4px;}
.title{font-size: 18px;font-weight: bold;color: rgb(91, 88, 88);}
.jieshao{font-size:14px;color:rgb(97,97,97);}
.jieshao_1{font-size:14px;background-color:#00bae1;color:#ffffff;}
.index_but_1{background-color:#00bae1;margin-bottom: 21px;margin-top: 15px;text-align: center;min-height:126px;border-radius: 6px;width:88%;margin: 14px auto;margin-left: auto;margin-right:auto;}