<footer>
    <div class="weui-tabbar">
        <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI1ODU5NzIxNQ==&scene=124#wechat_redirect" class="weui-tabbar__item {$tabbar == 'index'?'weui-bar__item_on':''}">
            <img src="/static/images/wechat.png"></img>
            <p class="weui-tabbar__label">微信咨询</p>
        </a>
        <a href="http://wpa.qq.com/msgrd?v=3&uin=3726721&site=qq&menu=yes"
           class="weui-tabbar__item {$tabbar == 'product_list'?'weui-bar__item_on':''}">
            <img src="/static/images/qq.png"></img>
            <p class="weui-tabbar__label">QQ咨询</p>
        </a>
        <a  href="tel:18028700626" class="weui-tabbar__item {$tabbar == 'cart'?'weui-bar__item_on':''}">
            <img src="/static/images/phone.png"></img>
            <span class="point-cart">
                <span class="weui-badge">0</span>
            </span>
            <p class="weui-tabbar__label">电话咨询</p>
        </a>
    </div>
</footer>